<!-- Tickets Button Start -->
<a
  target="_blank"
  href="https://community.cncf.io/events/details/cncf-cloud-native-rioja-presents-kubefest-2025-evento-de-cncf-la-rioja/"
  class="btn-5 d-inline-block text-center"
>
  Reservar plaza
</a>
<!-- Tickets Button End -->
